* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2px;
}

.common,
textarea {
  margin-bottom: 15px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

textarea {
  height: 80px;
}

fieldset {
  border: 1px solid #444;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
